<div class="row">
    <div class="col-12">
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
            <label for="exampleInputEmail1">Username</label>
            <input formControlName="username"  type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
            <small *ngIf="isSubmitted && formControls.username.errors" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
            <small *ngIf="isSubmitted && formControls.password.errors" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
</div>